/* LandingPage.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.landing-page-container {
    width: 375px; /* iPhone width */
    height: 667px; /* iPhone height */
    margin: 0 auto; /* Center the container */
    border-radius: 36px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: #ffffff;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
    font-family: 'Roboto', sans-serif;
    background-color:hsla(132,100%,59%,1);
    background-image:
    radial-gradient(at 99% 2%, hsla(138,100%,51%,1) 0px, transparent 50%),
    radial-gradient(at 1% 1%, rgb(20, 116, 50) 0px, transparent 50%),
    radial-gradient(at 50% 50%, rgba(64, 206, 107, 0.533) 0px, transparent 50%),
    radial-gradient(at 1% 16%, hsla(33,0%,0%,1) 0px, transparent 50%),
    radial-gradient(at 35% 18%, hsla(160,92%,42%,1) 0px, transparent 50%),
    radial-gradient(at 70% 70%, rgb(0, 0, 0) 0px, transparent 92%);
  }
  .profile-pic-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin: -60px auto 0;
    position: relative;
    z-index: 2;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .header-pic-upload {
    position: relative;
    width: 260px;
    height: 110px;
    background-color: #cccccc2b;
    display: cover;
    cursor: pointer;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 2;
    border-bottom: 1px solid #e0e0e0;
  }

  .header-pic-label {
    color: #fff;
    font-size: 12px;
    margin-top: 24px;
    margin-left: 14px;
    text-align: center;
    justify-content: center;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    color: #ffffffc0;
  }
  
  
  .plus-icon {
    font-size: 2.5em;
    color: #fff;
  }
  
  @media (min-width: 768px) {
    body {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      background: radial-gradient(circle at top, #f2f2f2a7, #000000);
      padding: 20px;
    }
  }
  
  .auth-form-container {
    display: flex;
    flex-direction: column;
  }
  
  .google-btn {
    margin-top: 15px;
}


input[type="text"], input[type="password"] {
    width: 100%; /* Make input fields full width */
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #4CAF50; /* Example button color */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.title {
  font-weight: bold;
  font-size: 3em;
color: white;
}

.form-container {
  background-color: rgba(0, 0, 0, 0.746);
  padding: 24px;
  border-radius: 20px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
  margin: 0em;
  text-align: center;
  max-width: 440px;
  position: relative;
  padding-bottom: 60px; /* Add extra padding at the bottom of the form container */
}

.login-toggle {
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
  font-size: 0.9em;
  text-align: center;
}
  
  .toggle-form {
    color: #fff;
    cursor: pointer;
    font-size: 0.9em;
    text-align: center;
    margin-top: 1em; /* Space from the button */
    text-decoration: underline; /* Suggests clickability */
  }

  .input-container {
    margin-bottom: .4em; /* Spacing between input fields */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center children */
    padding: 6px;
  }

  .-dn-input-label {
    display: block; /* Make the label take the full width */
    color: #fff; /* White color for the text */
    font-size: 10px;
  }
  
  .input-label {
    display: block;
    color: #fff;
    margin-top: 10px;
    font-size: 12px;
    margin-bottom: 5px;
  }

input[type="email"] { margin-top: 5px;}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="username"] {
  width: 90%;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  font-size: 14px;
  transition: background-color 0.3s ease;
}
input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
input[type="username"]:focus {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="text"]::placeholder,
input[type="username"]::placeholder {
  color: #3c3c3c;
  font-size: 10px;
}

.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 0.5em;
}

.availability-message {
  margin-bottom: .5em;
  font-size: 0.9em;
}

.availability-message.unavailable {
  color: red;
}

.availability-message.available {
  color: green;
}

.Toastify__toast {
  border-radius: 8px;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
  padding: 12px 20px;
}

.Toastify__toast--success {
  background-color: #4caf50;
}

.Toastify__toast--error {
  background-color: #f44336;
}

.Toastify__progress-bar {
  background-color: rgba(255, 255, 255, 0.7);
}

input[type="username"] {
  width: 90%; /* Make input fields full width */
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  border: 1px solid #ccc;
  border-radius: 4px;
  opacity: 0.7 !important;
  transition: opacity 0.3s ease;
  align-items: center;
  text-align: center;
  margin-top: -10px;
}

.google-btn {
  background-color: #db4437; /* Google's brand color */
  margin-top: 1.5em; /* More space from the toggle text */
  transition: background-color 0.3s ease;
  padding: 10px;
  color: white;
  border: none;

  border-radius: 4px;
  cursor: pointer;
  width: 70%; /* Make input fields full width */
}
  
.google-btn:hover {
  background-color: #c1351d; /* A darker shade for hover */
}

.signup-btn,
.login-btn {
  background-color: #4caf50; /* Example button color */
  color: white;
  border: none;
  border-radius: 4px;

  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 50%; /* Make input fields full width */
}

.signup-btn {
  margin-top: 24px;
}

.signup-btn:hover {
  background-color: darken(#225424, 10%);
}

.profile-pic-btn:hover {
  cursor: pointer;
}

.profile-pic-btn img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.landing-page-footer {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
  font-size: 0.8em;
}
.landing-page-footer a {
  color: #fff; /* Or any other color that matches your design */
  text-decoration: none;
  margin: 0 5px;
}
.landing-page-footer a:hover {
  text-decoration: underline;
}

.complete-profile-btn {
  background-color:rgb(37, 171, 63);
  background-image:
  radial-gradient(at 99% 2%, hsla(138,100%,51%,1) 0px, transparent 50%),
  radial-gradient(at 1% 1%, rgb(20, 116, 50) 0px, transparent 50%),
  radial-gradient(at 50% 50%, rgba(64, 206, 107, 0.533) 0px, transparent 50%),
  radial-gradient(at 35% 18%, hsla(160,92%,42%,1) 0px, transparent 50%);
  transition: background-color 0.3s ease;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 16px;
  margin-bottom: 10px;
  width: 50%; /* Make input fields full width */
}

.complete-profile-btn:hover {
  background-color: #45a049;
}

.plus-icon:hover {
  cursor: pointer;
}
