/* LandingPage.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.landing-page-container {
    width: 375px; /* iPhone width */
    height: 667px; /* iPhone height */
    margin: 0 auto; /* Center the container */
    border-radius: 36px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: #ffffff;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
    font-family: 'Roboto', sans-serif;
    background-color:hsla(132,100%,59%,1);
    background-image:
    radial-gradient(at 99% 2%, hsla(138,100%,51%,1) 0px, transparent 50%),
    radial-gradient(at 1% 1%, rgb(20, 116, 50) 0px, transparent 50%),
    radial-gradient(at 50% 50%, rgba(64, 206, 107, 0.533) 0px, transparent 50%),
    radial-gradient(at 1% 16%, hsla(33,0%,0%,1) 0px, transparent 50%),
    radial-gradient(at 35% 18%, hsla(160,92%,42%,1) 0px, transparent 50%),
    radial-gradient(at 70% 70%, rgb(0, 0, 0) 0px, transparent 92%);
  }

  .profile-pic-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444; /* Or any color you prefer */
    border-radius: 50%;
    width: 100px; /* Size of the circle */
    font-size: 24px; 
    height: 100px; /* Size of the circle */
    cursor: pointer;
    margin: 20px auto; /* Center the button and add space above and below */
    margin-bottom: 10px;
  }
  
  .plus-icon {
    font-size: 2em; /* Makes the plus sign larger */
    color: white;
  }
  
  @media (min-width: 768px) {
    body {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      background: radial-gradient(circle at top, #f2f2f2a7, #000000);
      padding: 20px;
    }
  }
  
  .auth-form-container {
    display: flex;
    flex-direction: column;
    /* Rest of your styles */
  }
  
  .google-btn {
    margin-top: 15px;
}


input[type="text"], input[type="password"] {
    width: 100%; /* Make input fields full width */
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #4CAF50; /* Example button color */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}


/* LandingPage.css */

.title {
  font-weight: bold;
  font-size: 3em;
color: white;
}

/* LandingPage.css */
.form-container {
  background-color: rgba(0, 0, 0, 0.616); /* Light background for the container */
  padding: 40px;
  border-radius: 20px; /* Rounded corners for the container */
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
  margin: 1em 1em; /* Margin above and below the form */
  text-align: center;
  max-width: 340px;
}

  
  .login-toggle {
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
    font-size: 0.9em;
    text-align: center;
  }
  

  .toggle-form {
    color: #fff;
    cursor: pointer;
    font-size: 0.9em;
    text-align: center;
    margin-top: 1em; /* Space from the button */
    text-decoration: underline; /* Suggests clickability */
  }
  .input-container {
    margin-bottom: 1em; /* Spacing between input fields */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center children */
  }

  .input-label {
    display: block; /* Make the label take the full width */
    color: #fff; /* White color for the text */
    margin-bottom: 0.5em; /* Spacing between label and input */
  }

  input[type="text"],
input[type="email"],
input[type="password"] {
  width: 90%; /* Make input fields full width */
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  border: 1px solid #ccc;
  border-radius: 4px;
  opacity: 0.7 !important;
  transition: opacity 0.3s ease;
}

input[type="email"]:focus, input[type="password"]:focus, input[type="text"]:focus {
  opacity: 1.0 !important;
  border: 2px solid #4CAF50; /* Highlight the input border when focused */
}

input[type="username"] {
  width: 90%; /* Make input fields full width */
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  border: 1px solid #ccc;
  border-radius: 4px;
  opacity: 0.7 !important;
  transition: opacity 0.3s ease;
  align-items: center;
  text-align: center;
}


.google-btn {
  background-color: #db4437; /* Google's brand color */
  margin-top: 1.5em; /* More space from the toggle text */
  transition: background-color 0.3s ease;
  padding: 10px;
  color: white;
  border: none;

  border-radius: 4px;
  cursor: pointer;
  width: 70%; /* Make input fields full width */
}
  
.google-btn:hover {
  background-color: #c1351d; /* A darker shade for hover */
}
  .signup-btn,
.login-btn {
  background-color: #4caf50; /* Example button color */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 50%; /* Make input fields full width */
}

.signup-btn:hover {
  background-color: darken(#225424, 10%);
}

.profile-pic-btn:hover {
  cursor: pointer;
}

.profile-pic-btn img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

/* Style the footer */
.landing-page-footer {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
  font-size: 0.8em;
}
.landing-page-footer a {
  color: #fff; /* Or any other color that matches your design */
  text-decoration: none;
  margin: 0 5px;
}
.landing-page-footer a:hover {
  text-decoration: underline;
}

.complete-profile-btn {
  background-color:hsla(132,100%,59%,1);
  background-image:
  radial-gradient(at 99% 2%, hsla(138,100%,51%,1) 0px, transparent 50%),
  radial-gradient(at 1% 1%, rgb(20, 116, 50) 0px, transparent 50%),
  radial-gradient(at 50% 50%, rgba(64, 206, 107, 0.533) 0px, transparent 50%),
  radial-gradient(at 1% 16%, hsla(33,0%,0%,1) 0px, transparent 50%),
  radial-gradient(at 35% 18%, hsla(160,92%,42%,1) 0px, transparent 50%);
  margin-top: 1.5em; /* More space from the toggle text */
  transition: background-color 0.3s ease;
  padding: 10px;
  color: white;
  border: none;

  border-radius: 4px;
  cursor: pointer;
  width: 70%; /* Make input fields full width */
}

.complete-profile-btn:hover {
  opacity: 0.5;
}

.plus-icon:hover {
  cursor: pointer;
}
