

.profile-page {
    width: 375px; /* iPhone width */
    height: 667px; /* iPhone height */
    margin: 20px auto;
    border-radius: 36px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: #0f9214;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    
      .profile-page .dark-mode {
        background: #979797;
        color: #ffffff;
      }

  .profile-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
    z-index: 1;
    width: 100%;
    padding-top: 150px; 
    background-color:hsla(130,74%,37%,1);
    background-image:
    radial-gradient(at 40% 20%, hsla(126,100%,74%,0.99) 0px, transparent 50%),
    radial-gradient(at 80% 0%, hsla(153,51%,47%,1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(0,0%,0%,0.1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(125,100%,50%,1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(126,65%,26%,1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(130,100%,70%,0.71) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(133,100%,50%,1) 0px, transparent 50%);
  }
  
  .dark-mode {
    background: #121212;
    color: #ffffff;
}


  .profile-banner {
    cursor: pointer; /* Ensures it's visibly clickable */
    z-index: 10; /* Test higher z-index to bring to front */
    background-color:transparent;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-size: cover;
    width: 100%;
    background-image: url(''); /* Default image path */
  }


  .profile-header {
    text-align: center;
    display: flex;;
    top: 0px;
    border-top: 1px solid #fff;
    flex-direction: column;
    align-items: stretch;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: 13;
    height: auto; /* Allow the header to adjust to its content */
    
  }
  
  .profile-icon {
    cursor: pointer;
    padding: 2px;
    z-index: 5;
    border-radius: 50%;
  }
  
  .profile-profile-pic {
    width: 100px; /* Adjust size if needed */
    height: 100px; /* Adjust size if needed */
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: -80px; /* Adjust to overlap the banner */
    left: 10px;
  }
  
  .profile-profile-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
  }

.display-name {
  color: #00ff37;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  margin-top: 24px;
  text-align: left;
}
  
  .username1 {
    color: #666;
    font-size: 10px;
    font-weight: bold;
    padding: 6px;
    margin-top: 20px;
    text-align: left;
    margin-top: -14px;
    margin-left: 2px;
  }

  .created-container {
    position: absolute;
    top: 100px; /* Position it at the top of the profile-page container */
    right: -30px;; /* Position it at the right of the profile-page container */
    width: auto; 
      background-color:rgb(0, 0, 0);
      border-radius: 15px;
      padding: 3px 8px;
      font-size: 10px;
      box-shadow: none;
      color: #fff;
      margin-right: 8px;
      margin-top: 5px;
      width: 30%;
    }


    .date-date {
      color: #5eff81;
      padding: 0;
    }
    .bio-editor {
      margin-left: 10px;
    }


    .bio-container {
      order: -3;
      word-wrap: break-word !important;
      overflow-wrap: break-word !important;
      margin-left: 0px;
      display: flex;
      align-items: stretch;
      margin-bottom: 10px;
    }
    .editor-buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
    }

  .bio-container, .stat-container {
    margin-bottom: 0px; /* Add some bottom margin for spacing */
    align-items: stretch;
  }

.stat-container {
  background-color: rgba(18, 76, 28, 0);
  border-radius: 10px;
  padding: 8px;
  font-size: 12px;
  box-shadow: none;
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  width: 35%;
  align-items: stretch;
  border: none;
  margin-left: -4px;
}

.save-bio-button, .cancel-bio-button {
  padding: 5px 20px;
  font-size: 14px;
  color: white;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-bio-button {
  background-color: #6c757d;
}


  .add-bio-button {
    opacity: 1;
    padding: 5px;
    border-radius: 4px;
    margin-left: 12px;
    font-size: 0.9rem;
    cursor: pointer;
    background-color: #f0f0f0; /* light gray background */
    color: #3333335a; /* dark text color */
    border-top: 1px solid #000000;
    border: none;
  }
  
  .bio-display {
    background-color: #f8f9fa00;
    margin-left: 8px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 11px;
  }


  .profile-stats {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: px 0;
}

.stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
}

.stat-count {
  font-weight: bold;
  color: #5eff81;
  font-size: medium;
}
  
.stat-label {
  font-size: smaller;
  color: #ffffff; /* Text white for visibility */
}

  .edit-profile-button {
    display: flex;
    justify-content: center;
    align-items: center;
  border: none;
  border-radius: 4px;
  padding: 8px 16px; /* Adjust padding as needed */
  font-size: 14px;
  position: absolute; /* Position the button inside the header */
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  cursor: pointer;
  display: inline-block; /* Needed for absolute positioning */
}
  
  .edit-profile-button svg {
    margin-right: 5px;
  }
  
  .profile-content {
    flex: 1;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
  }
  
  .profile-tabs {
    display: flex;
    justify-content: center;
    background-color:rgb(18, 76, 28);
    background-image:
    radial-gradient(at 0% 50%, hsla(0, 0%, 0%, 0.1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, rgb(0, 0, 0) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(0, 0%, 0%, 0.71) 0px, transparent 50%);
    border-bottom: none;
    z-index: 999;
    width: 100%;
    position: sticky;
    top: 0; /* Ensures tabs stick to the top when scrolling */
    border-top: 1px solid #e0e0e0;
    align-items: center;
    gap: 0px;
    margin-top: -30px;
  }
  
  .tab {
    cursor: pointer;
    font-size: 10px;
    color: transparent;
    margin-left: 16px;
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 10px;
    color: #fff; /* Text white for visibility */
    align-items: center;
    transition: background-color 0.3s ease; /* Smooth background transition */
  }

  .tab.favorites .fa-heart::before {
    content: "\f49e"; /* Unicode for 'fa-box-open', representing storage */
}

.edit-profile-tab {
  flex-grow: 1;
  text-align: center;
}  

.tab.active {
  border: 1px solid #fff;
  background-color: #27632a; /* Darker green for the active tab */
  border-radius: 4px;
}
  
  .tab svg {
    margin-right: 5px;
  }
  
  .profile-tab-content {
    min-height: 00px;
  }
  
  .dark-mode .profile-header {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .dark-mode .edit-profile-button {
    background-color: #555;
  }

  .top-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0); /* Changed to be semi-transparent */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    z-index: 10; /* Increased to ensure it's above other content */
    width: 50px;
  }
  
  .header-pic-upload {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
  }

  .header-pic {
    width: 100%;
    height: 150px; /* Adjust the height as needed */
    object-fit: cover;
    order: 10;
  }
  
  .header-pic-preview,.header-pic-upload img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  .header-preview {
      cursor: pointer; /* Ensures it's visibly clickable */
      z-index: 11; /* Test higher z-index to bring to front */
      background-color:transparent;
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
      height: 120px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background-size: cover;
      width: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; /* This ensures the image doesn't repeat */
    }

    h2 {
        font-size: 10px;
    }

    .meme-dashboard {
      margin-top: 100px;
    }