/* BottomPanel.css */
.bottom-panel {
    display: flex;
    justify-content: space-around;
    gap: 70px;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0px;
    bottom: 5;
  }

  .bottom-panel.dark-mode {
    background: #979797;
    color: #ffffff;
  }
  
  .bottom-panel svg {
    color: #008000; /* This is the hex code for green */
    font-size: 24px;
    cursor: pointer;
  }