/* ProfilePanel.css */
.profile-panel-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.profile-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  background: linear-gradient(to bottom right, #888888, #07540c);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 20px;
  transition: background 0.3s ease;
}

.profile-panel.dark-mode {
  background: linear-gradient(to bottom right, #1c1c1c, #0f0f0f);
}

.close-button {
  position: absolute;
  top: -20px;
  right: 15px;
  background: none;
  border: none;
  font-size: 12px;
  cursor: pointer;
  color: #ffffff;
}


.profile-pic {
  width: 50%;
  height: 50%;
  object-fit: cover;
  border-radius: 50%;
}

.profile-info {
  margin-right: 30px;
}

.display-name {
  font-size: 18px;
  font-weight: bold;
  overflow: hidden;
}

.dark-mode .display-name {
  color: #fff; /* Or any dark theme color */
}

.username {
  font-size: 16px;
  color: #5eff81;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.follow-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #ffffff;
  font-size: 14px;
}

.icon-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-right: 40px;
  color: #ffffff;
  margin-top: 20px;
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  transition: background 0.3s ease;
}

.icon-button:hover {
  background: rgba(255, 255, 255, 0.1);
}

.icon {
  font-size: 24px;
  margin-right: 10px;
}

.dark-icon {
  position: absolute;
  bottom: 62px;
  right: 17px;
  font-size: 24px;
  cursor: pointer;
  color: #ffffff;
  transition: color 0.3s ease;
}

.dark-icon.active {
  color: #ffcc00;
}

.settings-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.settings-modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.close-modal-button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.modal-options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

.option-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.option-item:hover {
  background-color: #f0f0f0;
}

.option-icon {
  margin-right: 10px;
}

.sign-out-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f44336;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sign-out-button .icon {
  margin-right: 5px;
}