/* ProfilePanel.css */
.profile-panel-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.profile-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 45%;
  height: 100%;
  background: linear-gradient(to bottom right, #424242, #07400b);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 20px;
  transition: background 0.3s ease;
  border: 1px solid #000000;
}

.profile-panel.dark-mode {
  background: linear-gradient(to bottom right, #b6b6b6, #000000);
}

.close-button {
  position: absolute;
  top: -20px;
  right: 15px;
  background: none;
  border: none;
  font-size: 12px;
  cursor: pointer;
  color: #ffffff;
}


.profile-pic {
  width: 60%;
  height: 60%;
  object-fit: contain;
  border-radius: 60%;
  border: 2px solid #26ff00;
  margin-bottom: 10px;
  
}

.profile-info {
  margin-right: 30px;
}

.display-name {
  font-size: 18px;
  font-weight: bold;
  overflow: hidden;
}

.dark-mode .display-name {
  color: #fff; /* Or any dark theme color */
}
.username {
  font-size: 14px;
  color: #5eff81;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.follow-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #ffffff;
  font-size: 14px;
}

.icon-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-right: 60px;
  margin-top: 20px;
  color: #ffffff;
}


.info-container {
  background-color: rgba(255, 255, 255, 0.304); /* Slightly opaque background */
  border-radius: 10px;
  width: auto; /* Adjust width as needed */
  height: 20%;
  text-align: center;
  padding: 8px; /* Reduced padding */
  margin: 2px 0; /* Reduced margin for tighter spacing */
}

.follow-container {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  margin-top: 10px; /* Adjust space from the above container */
  margin-bottom: 10px;
  width: 100%;
  gap: 4px;
}

.follow-count {
  background-color: rgba(0, 0, 0, 0.5); /* More visible on different backgrounds */
  color: #fff; /* White text for better visibility */
  border-radius: 15px; /* Rounded edges */
  width: 80%;
  padding: 3px 8px; /* Adjust padding for smaller height */
  font-size: 0.7em; /* Adjust font size to match other labels */
}

.info-label {
  color: #ffffff;
  display: block; /* Ensure the label is on its own line */
  font-size: 0.7em; /* Smaller font size for label */
  opacity: 0.8; /* Slightly transparent for less emphasis */
}

.follower, .following {
  color: #ffffff;
  display: block; /* Ensure the label is on its own line */
  font-size: 1em; /* Smaller font size for label */
  opacity: 0.8; /* Slightly transparent for less emphasis */
  padding: 4px;
}


.info-value {
  color: #22ff00;
  font-size: 12px; /* Adjust font size if needed for space */
  font-weight: bold; /* Optional: if you want the value to stand out */
}

.follow-info {
  display: flex;
  justify-content: space-around;
  width: 100%;
}


.icon-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 120%;
  padding: 10px;
  margin-bottom: 5px;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-left: 30px;
}

.icon-button:hover {
  background: rgba(255, 255, 255, 0.1);
}

.icon {
  font-size: 24px;
  margin-right: 10px;
}

.dark-icon {
  position: absolute;
  bottom: 62px;
  right: 17px;
  font-size: 24px;
  cursor: pointer;
  color: #ffffff;
  transition: color 0.3s ease;
}

.dark-icon.active {
  color: #ffcc00;
}

.settings-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.settings-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 30%;
}


.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 60;
  background-image: linear-gradient(to bottom, #146811, #93d3b1);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.close-modal-button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.modal-options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

.option-item {
  display: flex;
  align-items: center;
  padding: 5px;
  font-size: 16px;;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.option-item:hover {
  background-color: #f0f0f0;
}

.option-icon {
  margin-right: 10px;
}

.signout-icon {
  position: absolute;
  bottom: 47px;
  color: #ffffff;
  transition: color 0.3s ease;
  right: 90px;
  width: 50%;
}

.signout-icon:hover {
  color: #ec1818;
}
.sign-out-button .icon {
  margin-right: 5px;
}

.close-form-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #000; /* Set the color for the X icon */
  font-size: 24px; /* Size of the X icon */
}

.set-display-name-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1010; /* Higher than the settings modal to be on top */
  width: 90%; /* Adjust width as necessary, or keep it auto */
}

.warning-text {
  color: #ff0000; /* red */
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

.update-display-name-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 1rem; /* Add space above the button */
}
.set-display-name-modal .close-modal-button {
  /* ... existing styles ... */
  position: absolute;
  top: 10px;
  right: 10px;
}

.display-name-input {
  width: 100%; /* Take up full width of modal */
  padding: 10px;
  margin-bottom: 0.5rem; /* Space below the input field */
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style for the input within the display name form */
.display-name-form-container input {
  /* existing styles */
  margin-bottom: 16px; /* Add some space above the button */
}

/* Style for the submit button */
.submit-display-name {
  background-color: #48c774; /* Green background */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Ensure the display name form container is positioned correctly */
.display-name-form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 300px;
}